* {
    box-sizing: border-box;
    text-decoration: none;
    transition-duration: .2s;

    font-family: "Inter", sans-serif;
}

$header-height: 150px;

.row  {
    max-width: 100%;
    margin: 0 !important;
}
@font-face {
    font-family: 'NicoMoji';
    src: url('../fonts/NicoMoji-Regular.ttf') format("truetype");

    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    // overflow: -moz-scrollbars-none;
    // -ms-overflow-style: none;
    // scrollbar-width: 100px; /* Firefox */
    // &::-webkit-scrollbar{
    //     display: none;
    // }
}
body {
    
    margin: 0;
    &::-webkit-scrollbar {
        display: none;
    }
    .root {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            z-index: 100;
            transition-duration: .2s;
            background-color: #fff;
            position: fixed;
            font-family: "Inter", sans-serif;
            min-height: $header-height;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-top: 30px;
            .center {
                width: 100%;
                max-width: 1650px;
                padding: 0 20px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;

                .logo {
                    text-decoration: none;
                    display: block;
                    display: flex;
                    align-items: center;
                    img{
                        
                        &:hover{
                            transform: scale(1.03);
                        }
                        &:active{
                            transform: scale(0.98);
                        }
                    }
                    .logo-title {
                        margin-left: 20px;
                        color: #000;
                        font-family: "Inter";
                        font-size: 37px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        /* 56.029px */
                    }
                }

                .content {
                    color: #000;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    margin-top: 13px;
                    display: flex;
                    .navbar {
                        margin-right: 20px;
                        
                        .navbar-collapse{
                            margin-top: 0px;
                            @media screen and (max-width:767px) {
                                margin-top: 90px;                                
                            }
                        }
                        .theme-btn{
                            margin-left: 30px;
                            cursor: pointer;
                            align-items: center;
                            img{
                                height: 27px;
                                &:hover{
                                    transform: rotate(30deg);
                                }
                            }
                            
                        }
                        .nav-hover{
                            transition: all 0.1s;
                            margin-right: 20px;
                            
                                &:hover{
                                    background-color: #359787af;
                                    color: white;
                                    border-radius: 10px;
                                }
                            
                        }
                        .act {
                            position: relative;
                            font-weight: 800;
                            
                            &::after{
                                content: "";
                                display: block;
                                
                                height: 2px;
                                background-color: #5a5a5a9f;
                                position: absolute;
                                top: 35px;
                                left: 10px;
                                animation: slideIn .6s forwards ease-in-out;

                            }    
                        }
                        @keyframes slideIn {
                            0% {
                                width: 0;
                                left: 50%;
                                // opacity: 0;
                            }
                            100% {
                                width: 80%;
                                left: 10%;
                                // opacity: 1;
                            }
                        }


                        .dropdown-toggle{
                            font-size: 19px;
                        }
                        .dropdown-menu{
                            padding: 0px;
                            border-radius: 10px;
                            width: 100px !important;
                            .dropdown-item{
                                position: relative;
                                
                                
                                input{
                                    top: 0;
                                    left: 0;
                                    position: absolute;
                                    opacity: 0;
                                    height: 100%;
                                    width: 100%;
                                    margin: 0;
                                    padding: 0;
                                }
                                &:hover{
                                    background-color: #369b8ad5;
                                    border-radius: 4px;
                                    color: white;
                                }
                            }
                        }
                        
                    }

                    .contacts {
                        .contact-btn {
                            display: inline-flex;
                            padding: 13.02px 22.321px;
                            justify-content: center;
                            align-items: center;
                            gap: 7.44px;
                            color: white;
                            border-radius: 13.95px;
                            background: linear-gradient(180deg, #369B8B 53.98%, #123530 269.08%);
                            background: #369B8B;
                            border: none;
                            transition-duration: .2s;
                            box-shadow: inset 1px -3px 9px 0px rgba(0, 0, 0, 0.2),
                                0px 0.93px 1.86px 0px rgba(0, 0, 0, 0.05);

                            &:hover {
                                background: #338f7e;
                                box-shadow: inset 1px -3px 9px 0px rgba(0, 0, 0, 0.3),
                                    0px 0.93px 1.86px 0px rgba(0, 0, 0, 0.6);
                                transform: scale(1.03);
                            }
                            &:active{
                                transform: scale(0.98);
                            }
                        }
                    }
                }
            }

        }

        .h-scroll {
            min-height: 100px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            // background-color: #369B8B;
            // .nav-link{
            //     color: white;
            // }
            // .contact-btn{
            //     color: white;
            //     background: black;
            // }
            box-shadow: 0 0 10px 3px #00000077;

            padding-top: 8px;
        }

        > .center {

            width: 100%;
            margin-top: $header-height;
            .baner {
                
                width: 100%;

                .baner-img {
                    width: 100%;

                }

                .baner-text {
                    text-align: center;

                    background-repeat: no-repeat;
                    background-position: center;
                    height: 845px;
                    background-image: url("../assets/background.png");

                    color: rgba(255, 255, 255, 0.95);
                    text-shadow: 3.998px 3.998px 5.331px rgba(255, 255, 255, 0.25);
                    
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 3.2px;
                    padding-top: 238px;

                    span {
                        display: inline-block;
                        width: 600px;
                        font-family: "NicoMoji", 'Montserrat Alternates';
                        font-weight: normal;
                        font-style: normal;
                    }
                }
            }

            .about {
                margin-top: 110px;
                padding-left: 140px;
                .title {
                    margin-bottom: 95px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .about-title {
                        color: #000;
                        font-size: 74px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -1.48px;
                        margin-right: 30px;
                    }

                    .who {
                        height: 40px;
                        color: var(--Color-3, #4A4A4A);
                        font-family: "Montserrat Alternates";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 27px */
                        margin-right: 20px;
                    }

                    img {
                        width: 84.67px;
                        height: 83.959px;
                        flex-shrink: 0;
                    }
                }

                .content {
                    display: flex;

                    .text {
                        .description {
                            border-radius: var(--Spacing-SM, 32px);
                            border: 1px solid #000;
                            width: 872px;
                            // height: 259px;
                            padding: 37px 42px 36px 42px;
                            justify-content: center;
                            align-items: center;
                            flex-shrink: 0;
                            color: #191919;
                            font-family: "Montserrat Alternates";
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%;
                            margin-bottom: 50px;

                            span {
                                display: inline;
                                color: #191919;
                                font-size: 29px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 150%;
                                /* 43.5px */
                            }
                        }

                        .list {
                            height: 335px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .list-item {
                                // margin-bottom: 35px;
                                display: flex;
                                align-items: center;
                                img{
                                    height: 63px;
                                }
                                .text {
                                    margin-left: 20px;
                                    width: 788px;
                                    font-family: "Montserrat Alternates";
                                    font-size: 19px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 150%;
                                    /* 28.5px */
                                }

                            }

                        }
                    }

                    .image {
                        padding-top: 100px;
                        display: flex;
                        justify-content: center;
                        width: 100%;

                        img {
                            
                        }

                        .text {
                            position: absolute;
                            width: 312px;
                            height: 75px;
                            color: rgba(255, 255, 255, 0.95);
                            text-align: center;
                            text-shadow: 4px 3.998px 5.331px rgba(255, 255, 255, 0.22);
                            font-family: "Inter";
                            font-size: 26px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: -0.52px;
                            margin-top: 360px;
                        }
                    }
                }

            }

            .black-line {
                margin-top: -50px;
                width: 100%;
                height: 136px;
                background-color: #191919;
            }

            .services {
                background: black;
                padding-top: 120px;

                .title {
                    margin-left: 140px;
                    margin-bottom: 95px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .services-title {
                        color: white;
                        font-size: 74px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -1.48px;
                        margin-right: 30px;
                    }

                    .skills {
                        height: 40px;
                        color: #C3C3C3;
                        font-family: "Montserrat Alternates";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 27px */
                        margin-right: 20px;
                    }

                    img {
                        width: 84.67px;
                        height: 83.959px;
                        flex-shrink: 0;
                    }
                }

                .content {
                    .service-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 20px;
                        margin-bottom: 45px;

                        .block {
                            display: flex;
                            justify-content: space-between;
                            padding: 40px 45px;
                            width: 738.073px;
                            height: 392.423px;
                            border-radius: 42.109px;
                            background: #FFF;
                            box-shadow: 3.964px 3.171px 11.416px 0px rgba(0, 0, 0, 0.20);

                            .main {
                                width: 50%;
                                padding-right: 20px;

                                .title {
                                    margin: 0;
                                    margin-bottom: 20px;
                                    color: #010101;
                                    font-family: "Inter";
                                    font-size: 19.027px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                }

                                .text {
                                    color: #121212;
                                    font-family: "Montserrat Alternates";
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                    letter-spacing: -0.28px;
                                }

                                .f-list {
                                    margin-top: 30px;

                                    .list-item {
                                        margin-bottom: 3px;
                                        color: #171717;
                                        font-family: "Montserrat Alternates";
                                        font-size: 13.477px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: normal;
                                        position: relative;
                                        padding-left: 20px;

                                        &::before {
                                            content: url("../assets/green-dot.svg");
                                            display: inline-block;
                                            position: absolute;
                                            left: 0px;
                                            top: 0px;
                                        }
                                    }
                                }

                                .s-list {
                                    margin-top: 40px;

                                    .list-item {
                                        margin-bottom: 3px;
                                        color: #171717;
                                        font-family: "Montserrat Alternates";
                                        font-size: 13.477px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: normal;
                                        position: relative;
                                        padding-left: 20px;

                                        &::before {
                                            content: url("../assets/purple-dot.svg");
                                            display: inline-block;
                                            position: absolute;
                                            left: 0px;
                                            top: 0px;
                                        }
                                    }
                                }

                                .figma {
                                    margin-top: 50px;
                                }

                                .bot-text {
                                    margin-top: 40px;
                                    color: #1D1D1D;
                                    font-family: "Montserrat Alternates";
                                    font-size: 15px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                    letter-spacing: -0.26px;
                                }

                                .parsing-text {
                                    margin-top: 90px;
                                    color: #1C1C1C;
                                    font-family: "Montserrat Alternates";
                                    font-size: 15px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                    letter-spacing: -0.26px;
                                }
                            }

                            .img {
                                img {
                                    &:hover {
                                        transform: scale(1.05);
                                    }
                                }
                            }
                        }
                    }

                    .left {
                        justify-content: flex-end;
                    }

                    .right {
                        justify-content: flex-start;
                    }
                }
            }

            .profile {
                .title {
                    margin-top: 130px;
                    margin-left: 140px;
                    margin-bottom: 95px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .profile-title {
                        color: #000;
                        font-size: 74px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -1.48px;
                        margin-right: 30px;
                    }

                    .wnb {
                        height: 40px;
                        color: var(--Color-3, #4A4A4A);
                        font-family: "Montserrat Alternates";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 27px */
                        margin-right: 20px;
                    }

                    img {
                        width: 84.67px;
                        height: 83.959px;
                        flex-shrink: 0;
                    }
                }

                .carousel {
                    .carousel-indicators {
                        margin-bottom: 50px;

                        button {
                            // border: 1px black solid;
                            background-color: gray;
                        }

                        .active {
                            background-color: #369B8B;

                        }
                    }

                    .c-btn {
                        border-radius: 50%;
                        height: 66px;
                        width: 66px;
                        flex-shrink: 0;
                        background-color: #FFF;
                        box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.22);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .carousel-inner {
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        padding-bottom: 100px;

                        .carousel-item {
                            transition: .5s;
                            .content {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .block {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    width: 1200px;
                                    height: 885px;

                                    .label {
                                        color: #212121;
                                        font-family: "Inter";
                                        font-size: 36px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 110%;
                                        
                                        margin-bottom: 20px;
                                        /* 39.6px */
                                    }

                                    .description {
                                        color: #212121;
                                        font-family: "Inter";
                                        font-size: 20px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 150%;
                                        /* 30px */
                                    }

                                    img {
                                        height: 600px;
                                        object-fit: contain;

                                        &:hover {
                                            transform: scale(1.03);
                                        }
                                    }
                                }
                            }
                        }

                        .active {}
                    }
                }
            }

            .contacts {
                .title {
                    margin-top: 130px;
                    margin-left: 140px;
                    margin-bottom: 95px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .contacts-title {
                        color: #000;
                        font-size: 74px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -1.48px;
                        margin-right: 30px;
                    }

                    .communication {
                        height: 40px;
                        color: var(--Color-3, #4A4A4A);
                        font-family: "Montserrat Alternates";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 27px */
                        margin-right: 20px;
                    }

                    img {
                        width: 84.67px;
                        height: 83.959px;
                        flex-shrink: 0;
                    }
                }

                .main {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    margin-bottom: 175px;

                    .content {
                        width: 88%;
                        height: 800px;
                        border-radius: 33px;
                        background: url("../assets/contacts.png") no-repeat center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        >.label {
                            text-align: center;
                            color: #FFF;
                            font-family: "Montserrat Alternates";
                            font-size: 40px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 150%;
                            /* 60px */
                        }

                        .form {
                            width: 625px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .field {
                                margin-top: 20px;
                                width: 100%;

                                .label {
                                    color: #FFF;
                                    font-family: "Montserrat Alternates";
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 150%;
                                    /* 24px */
                                    margin-bottom: 10px;
                                }

                                .name,
                                .email {
                                    display: flex;
                                    flex-direction: column;
                                    width: 49%;


                                    input {
                                        padding: 12px 16px;
                                        align-self: stretch;
                                        border-radius: 8px;
                                        border: 1px solid #E0E0E0;
                                        background: #FFF;
                                        /* Button Shadow */
                                        font-family: 'Inter', sans-serif;
                                        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
                                        &:focus-visible{
                                        
                                            outline: 2px solid #369B8B;
                
                                        }
                                    }
                                }

                                .radios {
                                    display: flex;
                                    justify-content: space-between;

                                    .radio {
                                        // width: 100%;
                                        width: 140px;
                                        height: 50px;
                                        display: flex;
                                        border-radius: 8px;
                                        border: 0.5px solid var(--Color-4, #369B8B);
                                        background: #ebebeb;
                                        box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.09) inset;
                                        display: flex;
                                        // padding: 13px 41px 11px 44px;
                                        justify-content: center;
                                        align-items: center;
                                        color: #3f3f3f;
                                        font-family: Inter;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 150%;
                                        /* 24px */
                                        transition-duration: .3s;

                                        &:hover {
                                            cursor: pointer;
                                            background-color: #fff;
                                        }

                                        // box-shadow: inset 10px 10px 10px 10px rgb(167, 167, 167);
                                    }

                                    input {
                                        display: none;

                                        &:checked+label {
                                            color: white;
                                            background-color: #369B8B;
                                            // background: linear-gradient(90deg, #369B8B 0%, #50cab6 140.81%);
                                            transform: scale(1.05);
                                            font-weight: 700;
                                            box-shadow: none;

                                            &:hover {
                                                background-color: #369B8B;
                                            }
                                        }
                                    }
                                }

                            }

                            .name-email {
                                display: flex;
                                justify-content: space-between;

                            }

                            .radio-group {
                                display: flex;
                                border-radius: 8px;
                                background: linear-gradient(90deg, #369B8B 0.25%, #123530 126.77%);
                                box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.08);
                                color: white;
                                font-weight: 500;
                                width: 100%;
                                position: relative;
                                height: 50px;

                                label {
                                    width: 20%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    &:hover {
                                        cursor: pointer;
                                        background-color: rgba(255, 255, 255, 0.144);
                                        border-radius: 8px;
                                        // text-decoration: underline;
                                    }

                                    div {
                                        z-index: 3;
                                    }
                                }

                                .selected {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background-color: #fff;
                                    width: 20%;
                                    height: 100%;
                                    transition-duration: .3s;
                                    border-radius: 8px;
                                    transform: scale(1.05);
                                }

                                input {
                                    display: none;

                                    &:checked+label {
                                        color: black;
                                        font-weight: 700;
                                    }

                                }

                                #one_s:checked~.selected {
                                    left: 0;
                                }

                                #two_s:checked~.selected {
                                    left: 20%;
                                }

                                #three_s:checked~.selected {
                                    left: 40%;
                                }

                                #four_s:checked~.selected {
                                    left: 60%;
                                }

                                #five_s:checked~.selected {
                                    left: 80%;
                                }
                            }

                            .message {
                                display: flex;
                                flex-direction: column;

                                textarea {
                                    width: 100%;
                                    min-height: 100px;
                                    height: 140px;
                                    max-height: 180px;
                                    border-radius: 8px;
                                    border: 1px solid #E0E0E0;
                                    background: #FFF;
                                    color: #000;
                                    /* Button Shadow */
                                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
                                    padding: 12px 16px;
                                    // color: #828282;
                                    font-family: Inter;
        
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 150%;
                                    /* 24px */
                                    &:focus-visible{
                                        
                                        outline: 2px solid #369B8B;
            
                                    }
                                }
                            }

                            .submit {
                                input {
                                    
                                    background: #369B8B;
                                       
                                    transition-duration: 0.2s;
                                    box-shadow: inset 1px -3px 9px 0px rgba(0, 0, 0, 0.2), 0px 0.93px 1.86px 0px rgba(0, 0, 0, 0.05);
                                    
                                    color: #FFF;
                                    border: none;
                                    font-family: "Montserrat Alternates";
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 150%;
                                    /* 30px */
                                    width: 100%;
                                    padding: 16px 32px;
                                    border-radius: 15px;
                                    // background: linear-gradient(90deg, #369B8B 0%, #123530 140.81%);

                                    /* Button Shadow */
                                    // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
                                    &:hover {
                                        background: #338f7e;
                                        box-shadow: inset 1px -3px 9px 0px rgba(0, 0, 0, 0.3),
                                            0px 0.93px 1.86px 0px rgba(0, 0, 0, 0.6);
        
        
        
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .tools {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(3, 1fr);
                background: #191919;
                padding: 130px 170px;
                gap: 80px;

                .item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        height: 120px;
                        object-fit: contain;
                        &:hover{
                            transform: scale(1.5);
                        }
                    }
                }
            }
            
        }

        .footer {
            width: 100%;
            display: flex;
            height: 370px;
            align-items: center;
            padding: 0 140px;
            justify-content: space-between;
            .left {
                height: 250px;

                .logo_url{
                    text-decoration: none;
                }
                .logo {
                    display: flex;
                    align-items: center;
                    color: #000;
                    font-family: Inter;
                    font-size: 37.353px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    /* 56.029px */
                    margin-bottom: 50px;

                    img {
                        width: 87.157px;
                        margin-right: 20px;
                        height: 87.157px;
                        &:hover{
                            transform: scale(1.05);
                        }
                        &:active{
                            transform: scale(0.98);
                        }
                    }
                }

                .text {
                    color: rgba(111, 111, 111, 0.95);
                    text-shadow: 3.998px 3.998px 5.331px rgba(255, 255, 255, 0.25);
                    font-family: "Montserrat Alternates";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 1.28px;
                    width: 310px;
                }
            }

            .center {
                display: flex;
                justify-content: space-evenly;
                height: 200px;
                width: 100%;
                .bl {
                    margin: 0;
                    padding: 0;

                    .title {
                        margin: 0;
                        margin-bottom: 20px;
                        color: #070707;
                        text-align: center;
                        font-family: "Montserrat Alternates";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        text-align: start;

                        /* 100% */
                    }

                    .content {
                        color: #000;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        /* 150% */
                        a {
                            text-decoration: none;
                            color: #000;
                        }
                    }

                    .navigation {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        color: #070707;
                        text-align: center;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;

                        /* 150% */
                        .nav-item {
                            margin-bottom: 5px;
                            transition-duration: .1s;
                            text-align: start;
                            a {
                                color: black;
                                text-decoration: none;
                                &:hover {
                                    // font-size: 17px;
                                    color:#2fa08d;
                                    // transform: scale(1.03);
                                }
                            }
                            
                        }
                    }
                }
            }

            .right {
                height: 205px;
                min-width: 265px;

                .title {
                    color: #070707;
                    font-family: "Montserrat Alternates";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 20px;
                }

                .contact-us {
                    text-decoration: none;

                    button {
                        display: inline-flex;
                        padding: 14px var(--Spacing-S, 24px);
                        justify-content: center;
                        align-items: center;
                        font-size: 22px;
                        font-family: Inter;
                        color: white;
                        border-radius: 13.95px;
                        background: linear-gradient(180deg, #369B8B 53.98%, #123530 269.08%);
                        background: #369B8B;
                        border: none;
                        transition-duration: .2s;
                        box-shadow: inset 1px -3px 9px 0px rgba(0, 0, 0, 0.2),
                            0px 0.93px 1.86px 0px rgba(0, 0, 0, 0.05);

                        &:hover {
                            background: #338f7e;
                            box-shadow: inset 1px -3px 9px 0px rgba(0, 0, 0, 0.3),
                                0px 0.93px 1.86px 0px rgba(0, 0, 0, 0.6);
                            transform: scale(1.03);


                        }
                        &:active{
                            transform: scale(0.98);
                        }
                    }
                }

                .links {
                    margin-top: 50px;
                    display: flex;
                    width: 210px;
                    justify-content: space-around;
                    a{
                        img{
                            &:hover {
                                transform: scale(1.05);
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

.side-navbar-toggler{
    z-index: 50;
    position: fixed;
    height: 100px;
    width: 25px;
    background-color: #369b8c;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
    top: 50lvh; /* Center vertically */
    transform: translateY(-50%) scale(1); /* Adjust vertical center alignment */
    opacity: 0.85;
    transition-duration: .15s;
    &:active{
        transform: translateY(-50%) scale(1.2);
    }
}

.side-navbar{
    z-index: 100;
    height: 260px;
    width: 120px;
    position: fixed;
    padding: 30px 18px;
    // border-top-left-radius: 30px;
    // border-bottom-left-radius: 30px;
    right: 0;
    top: 50lvh; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical center alignment */
    list-style: none;
    // background-color:#369f8f;
    color: white;
    // display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-evenly;
    background: url("../assets/navbar.svg");
    background-size: cover;
    transition: all 0.3s;
    .line{
        background-color: #fff;
        width: 80%;
        height: 1px;
    }
    
}
.side-navbar-hide{
    right: -150px
}
.order-success{
    position: absolute;
    width: 644px;
    height: 349px;
    top: 266px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #266d62;
    color: white;
    font-size: 32px;
    text-align: center;
    padding-top: 136px;
    animation: order-animation 1s;
    animation-delay:3s; /* Delay before the animation starts */
    animation-fill-mode: forwards;
    font-family:'Montserrat Alternates';
}
.s-mobile{
    top: 149px;
    width: 275px;
    height: 150px;
    font-size: 22px;
    padding-top: 39px;
}
@keyframes order-animation {
    0%{
        transform: translateX(-50%) scaleY(1);

    }
    60%{
        background-color: #266d62;
    }
    99%{
        transform: translateX(-50%) scaleY(0.01);
    }
    100%{
        background-color: white;

        transform: translateX(-55%) scaleY(0);
    }
}
@import "./mobile.scss";

@import "./black.scss";

@import "./mobile_black.scss";